In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 12.2 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 18.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0

In [3]:
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [8]:
from pymongo import MongoClient

# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Obtener la lista de nombres de todas las colecciones en la base de datos
database_name = "PROYECTO"
database = client[database_name]
collection_names = database.list_collection_names()

# Iterar sobre las colecciones y obtener sus atributos
for collection_name in collection_names:
    collection = database[collection_name]
    print(f"Nombre de la colección: {collection_name}")
    print("Atributos:")
    for document in collection.find().limit(1):
        for key in document.keys():
            print(key)

    print("-----")

Nombre de la colección: NEW TAXIS
Atributos:
_id
Date
Viajes por dia
Pasajeros por dia
Distancia(millas)
Tarifario por dia($USD)
travel_tday_bgh
borough
Total recaudado por dia($USD)
Pago con tarjeta
Pago con efectivo
Tipo de taxi
-----
Nombre de la colección: Calidad del Aire
Atributos:
_id
Name
Measure
Measure Info
Geo Type Name
Geo Join ID
Geo Place Name
Time Period
Start_Date
Data Value
-----
Nombre de la colección: Taxis rutas
Atributos:
_id
Fecha
Pasajeros por dia
Viajes por dia
Tarifario por dia
Total recaudado por dia
Pago con tarjeta
Pago con efectivo
Tipo de Taxi
-----
Nombre de la colección: Combustion y CO2 2021-2023
Atributos:
_id
Model(Year)
Make
Model
Vehicle Class
Engine Size(L)
Cylinders
Transmission
Fuel(Type)
Fuel Consumption(City (L/100 km)
CO2 Emissions(g/km)
CO2(Rating)
Smog(Rating)
-----
Nombre de la colección: Contaminación sonora
Atributos:
_id
fecha
id_borough
engine_sounds
alert_signal_sounds
total_sounds
borough_name
-----
Nombre de la colección: Taxis zonas
Atributos:
_id
Shape_Leng
Shape_Area
LocationID
Borough
Zone
service_zone
-----

In [20]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["NEW TAXIS"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df1 = pd.DataFrame(documentos)
df1.head()

,_id,Date,Viajes por dia,Pasajeros por dia,Distancia(millas),Tarifario por dia($USD),travel_tday_bgh,borough,Total recaudado por dia($USD),Pago con tarjeta,Pago con efectivo,Tipo de taxi
0,64adb5399da21d06b79d7f8e,2022-01-01,93,97.0,272.33,2054.28,1 days 01:33:00,Bronx,2348.79,4066611,1510506,yellow
1,64adb5399da21d06b79d7f8f,2022-01-01,1,1.0,17.10,67.20,0 days 01:12:23,Staten Island,74.55,43727,16242,yellow
2,64adb5399da21d06b79d7f90,2022-01-01,734,744.0,3500.23,16145.55,10 days 20:15:28,Brooklyn,20360.47,32095618,11921628,yellow
3,64adb5399da21d06b79d7f91,2022-01-01,55593,84497.0,265662.88,649061.94,552 days 03:25:14,Manhattan,967462.34,2430915111,902941506,yellow
4,64adb5399da21d06b79d7f92,2022-01-01,43,88.0,15.04,3099.55,0 days 00:38:02,EWR,3491.51,1880261,698406,yellow

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   _id                            5295 non-null   object
 1   Date                           5295 non-null   datetime64[ns]
 2   Viajes por dia                 5295 non-null   int64
 3   Pasajeros por dia              5295 non-null   float64
 4   Distancia(millas)              5295 non-null   float64
 5   Tarifario por dia($USD)        5295 non-null   float64
 6   travel_tday_bgh                5295 non-null   object
 7   borough                        5295 non-null   object
 8   Total recaudado por dia($USD)  5295 non-null   float64
 9   Pago con tarjeta               5295 non-null   int64
 10  Pago con efectivo              5295 non-null   int64
 11  Tipo de taxi                   5295 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 496.5+ KB

In [27]:
df1.to_csv('New_Taxis.csv', index=False)

In [21]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Calidad del Aire"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df2 = pd.DataFrame(documentos)

df2.head()

,_id,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,64a59ffcfd28e906a7714093,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,2013-06-01,34.64
1,64a59ffcfd28e906a7714094,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,2014-06-01,33.22
2,64a59ffcfd28e906a7714095,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,2013-06-01,31.25
3,64a59ffcfd28e906a7714096,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,2014-06-01,31.15
4,64a59ffcfd28e906a7714097,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,2008-12-01,5.89

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             16122 non-null  object
 1   Name            16122 non-null  object
 2   Measure         16122 non-null  object
 3   Measure Info    16122 non-null  object
 4   Geo Type Name   16122 non-null  object
 5   Geo Join ID     16122 non-null  int64
 6   Geo Place Name  16122 non-null  object
 7   Time Period     16122 non-null  object
 8   Start_Date      16122 non-null  datetime64[ns]
 9   Data Value      16122 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 1.2+ MB

In [30]:
df2.to_csv('Calidad_Aire.csv', index=False)

In [23]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Taxis rutas"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df3 = pd.DataFrame(documentos)
df3.head()

,_id,Fecha,Pasajeros por dia,Viajes por dia,Tarifario por dia,Total recaudado por dia,Pago con tarjeta,Pago con efectivo,Tipo de Taxi
0,64a5a7a84ee33a36a6e64b05,2022-01-01,1320,1273,20361.61,25128.72,568,508,green
1,64a5a7a84ee33a36a6e64b06,2022-01-02,1739,1500,21448.61,26851.77,830,543,green
2,64a5a7a84ee33a36a6e64b07,2022-01-03,2716,2332,30798.87,38778.99,1216,917,green
3,64a5a7a84ee33a36a6e64b08,2022-01-04,2438,2165,30469.21,38390.10,1190,793,green
4,64a5a7a84ee33a36a6e64b09,2022-01-05,2650,2259,30853.43,39222.21,1266,806,green

In [31]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1136 non-null   object
 1   Fecha                    1136 non-null   object
 2   Pasajeros por dia        1136 non-null   int64
 3   Viajes por dia           1136 non-null   int64
 4   Tarifario por dia        1136 non-null   float64
 5   Total recaudado por dia  1136 non-null   float64
 6   Pago con tarjeta         1136 non-null   int64
 7   Pago con efectivo        1136 non-null   int64
 8   Tipo de Taxi             1136 non-null   object
dtypes: float64(2), int64(4), object(3)
memory usage: 80.0+ KB

In [33]:
df3.to_csv('Taxis_rutas.csv', index=False)

In [24]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Combustion y CO2 2021-2023"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df4 = pd.DataFrame(documentos)
df4.head()

,_id,Model(Year),Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel(Type),Fuel Consumption(City (L/100 km),CO2 Emissions(g/km),CO2(Rating),Smog(Rating)
0,64ab35a6817cb942a66b29bf,2023,Acura,{'1': 'Integra'},Full-size,1.5,4.0,AV7,4.0,7.9,167,6,7
1,64ab35a6817cb942a66b29c0,2023,Acura,{'1': 'Integra A-SPEC'},Full-size,1.5,4.0,AV7,4.0,8.1,172,6,7
2,64ab35a6817cb942a66b29c1,2023,Acura,{'1': 'Integra A-SPEC'},Full-size,1.5,4.0,M6,4.0,8.9,181,6,6
3,64ab35a6817cb942a66b29c2,2023,Acura,{'1': 'MDX SH-AWD'},SUV: Small,3.5,6.0,AS10,6.0,12.6,263,4,5
4,64ab35a6817cb942a66b29c3,2023,Acura,{'1': 'MDX SH-AWD Type S'},SUV: Standard,3.0,6.0,AS10,6.0,13.8,291,4,5

In [35]:
df4.to_csv('Combustion_CO2.csv', index=False)

In [25]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Contaminación sonora"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df5 = pd.DataFrame(documentos)
df5.head()

,_id,fecha,id_borough,engine_sounds,alert_signal_sounds,total_sounds,borough_name
0,64a5a1da4ee33a36a6e64740,2016-05-01,1,5,3,8,manhattan
1,64a5a1da4ee33a36a6e64741,2016-05-02,1,9,14,23,manhattan
2,64a5a1da4ee33a36a6e64742,2016-05-03,1,4,3,7,manhattan
3,64a5a1da4ee33a36a6e64743,2016-05-04,1,9,1,10,manhattan
4,64a5a1da4ee33a36a6e64744,2016-05-05,1,4,0,4,manhattan

In [36]:
df5.to_csv('Contaminación_Sonora.csv', index=False)

In [26]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Taxis zonas"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df6 = pd.DataFrame(documentos)
df6.head()

,_id,Shape_Leng,Shape_Area,LocationID,Borough,Zone,service_zone
0,64a5a7774ee33a36a6e649fd,0.116357,0.000782,1,EWR,Newark Airport,EWR
1,64a5a7774ee33a36a6e649fe,0.433470,0.004866,2,Queens,Jamaica Bay,Boro Zone
2,64a5a7774ee33a36a6e649ff,0.084341,0.000314,3,Bronx,Allerton/Pelham Gardens,Boro Zone
3,64a5a7774ee33a36a6e64a00,0.043567,0.000112,4,Manhattan,Alphabet City,Yellow Zone
4,64a5a7774ee33a36a6e64a01,0.092146,0.000498,5,Staten Island,Arden Heights,Boro Zone

In [37]:
df6.to_csv('Taxis_Zonas.csv', index=False)